@font-face {
  font-family: 'Special Elite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Special Elite Regular'), local('SpecialElite-Regular'), url(https://fonts.gstatic.com/s/specialelite/v10/XLYgIZbkc4JPUL5CVArUVL0ntnAOTQ.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Special Elite', cursive;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Special Elite', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
  font-family: "Segoe UI";
}
img {
  max-width: 100%;
  height: auto;
}
html,
body {
  height: 100%;
}
body {
  min-height: 100%;
}
.container {
  width: 100%;
  margin: 0 auto;
  background-color: #b1bfd8;
  background-image: linear-gradient(315deg, #b1bfd8 0%, #6782b4 74%);
  font-family: 'Special Elite', cursive;
}
@media (max-width: 500px) {
  .container {
    max-width: 500px;
  }
}
.introContent {
  padding: 2rem;
}
.introContent .mainContentWrapper {
  padding-top: 4%;
  padding-bottom: 4%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
@media (max-width: 500px) {
  .introContent .mainContentWrapper {
    flex-direction: column-reverse;
  }
}
.introContent .mainContentWrapper .imgContainer {
  width: 50%;
}
.introContent .mainContentWrapper .intoTextWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
}
@media (max-width: 500px) {
  .introContent .mainContentWrapper .intoTextWrapper {
    width: 50%;
    padding-top: 3%;
  }
}
.introContent .mainContentWrapper .intoTextWrapper a {
  text-decoration: none;
  color: darkmagenta;
}
.introContent .mainContentWrapper .intoTextWrapper .signUp {
  margin-top: 2%;
  width: 12vw;
  padding-top: 15%;
  padding-bottom: 15%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  background: white;
  border-radius: 0.75rem;
  font-size: 2vw;
  font-family: 'Special Elite', 'cursive';
  color: darkmagenta;
}
.introContent .mainContentWrapper .intoTextWrapper .signUp:hover {
  color: white;
  background-color: darkmagenta;
}
@media (max-width: 500px) {
  .introContent .mainContentWrapper .intoTextWrapper .signUp {
    width: 18vw;
    font-size: 3vw;
    margin-top: 8%;
  }
}
.introContent .mainContentWrapper .intoTextWrapper .mainText {
  color: white;
}
.introContent .mainContentWrapper .intoTextWrapper .mainText p {
  font-size: 2.25vw;
  font-family: 'Special Elite', 'cursive';
}
@media (max-width: 500px) {
  .introContent .mainContentWrapper .intoTextWrapper .mainText p {
    font-size: 3.25vw;
  }
}
.mainContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding-top: 6%;
  padding-bottom: 6%;
}
@media (max-width: 500px) {
  .mainContent {
    flex-wrap: wrap;
  }
}
.mainContent article {
  padding-top: 6%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
@media (max-width: 500px) {
  .mainContent article {
    flex-wrap: wrap;
    padding: 0;
  }
}
.mainContent article div {
  width: 20%;
}
@media (max-width: 500px) {
  .mainContent article div {
    width: 50%;
  }
}
.mainContent article p {
  width: 60%;
  font-size: 2.25vw;
  color: darkmagenta;
}
@media (max-width: 500px) {
  .mainContent article p {
    width: 60%;
    font-size: 4.25vw;
    padding-top: 6%;
    padding-bottom: 6%;
  }
}
.mainContent #oddArticle {
  flex-direction: row-reverse;
}
.aboutContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.aboutContent span {
  color: white;
  font-size: 3vw;
  padding: 3%;
}
@media (max-width: 500px) {
  .aboutContent span {
    font-size: 4vw;
    padding: 10%;
  }
}
.aboutContent .aboutInfosContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  margin-left: 10%;
  margin-right: 10%;
}
.aboutContent .aboutInfosContainer .aboutPerson {
  width: 15rem;
  height: 35rem;
  margin-left: 2%;
  margin-top: 2%;
  background-color: white;
  border-radius: 5px;
}
.aboutContent .aboutInfosContainer .aboutPerson .aboutImgContainer {
  width: 80%;
  margin: 0 auto;
}
.aboutContent .aboutInfosContainer .aboutPerson .aboutImgContainer img {
  min-width: 100%;
  border-radius: 0.5rem;
}
.aboutContent .aboutInfosContainer .aboutPerson .insideContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: max-content;
}
.aboutContent .aboutInfosContainer .aboutPerson .nameTitle {
  text-align: center;
}
.aboutContent .aboutInfosContainer .aboutPerson .nameTitle .title {
  margin: 0 auto;
  padding: 0;
  font-size: 2vw;
  color: gray;
  width: min-content;
  white-space: nowrap;
  border-bottom: 2px gray solid;
}
.aboutContent .aboutInfosContainer .aboutPerson .nameTitle .name {
  margin: 0 auto;
  padding: 0;
  font-size: 1.2rem;
  width: 85%;
  color: black;
}
.aboutContent .aboutInfosContainer .aboutPerson div {
  text-align: center;
}
.aboutContent .aboutInfosContainer .aboutPerson div .aboutPara {
  text-align: left;
  padding: 5%;
  padding-bottom: 10%;
  font-size: 100%;
  font-weight: 100;
  color: black;
  width: 70%;
  margin: 0 auto;
  height: 10rem;
}
.aboutContent .aboutInfosContainer .aboutPerson div a {
  text-decoration: none;
}
.aboutContent .aboutInfosContainer .aboutPerson div .emailA {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 5px 9px;
  border-radius: 10px;
  font-size: 1.25rem;
}
.aboutContent .aboutInfosContainer .aboutPerson div .emailA:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
}
.aboutContent .aboutInfosContainer .aboutPerson div .gitDiv {
  width: 90%;
  padding-top: 5%;
  margin: 0 auto;
  height: auto;
}
.aboutContent .aboutInfosContainer .aboutPerson div .gitDiv .imgGitContainer {
  width: 30%;
  margin-top: 5%;
}
.aboutContent .aboutInfosContainer .aboutPerson div .gitDiv .imgGitContainer img {
  min-width: 100%;
  min-height: 100%;
}
.aboutContent .aboutInfosContainer .aboutPerson div .gitDiv a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  height: 60%;
  margin: 0;
  padding: 0;
  margin-top: 2%;
}
.aboutContent .aboutInfosContainer .aboutPerson div .gitDiv a span {
  color: black;
  font-size: 1vw;
  width: 100%;
  padding: 0;
  margin: 0;
}
@media (max-width: 500px) {
  .aboutContent .aboutInfosContainer .aboutPerson div .gitDiv a span {
    font-size: 2.5vw;
  }
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 4%;
  margin-right: 4%;
  padding-top: 1%;
}
@media (max-width: 500px) {
  nav {
    flex-direction: column;
  }
}
nav .logoAndName {
  width: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 500px) {
  nav .logoAndName {
    padding-bottom: 3%;
    width: 70%;
  }
}
nav .logoAndName .logoImgContainer {
  width: 15%;
}
@media (max-width: 500px) {
  nav .logoAndName .logoImgContainer {
    width: 30%;
  }
}
nav .logoAndName .logoImgContainer img {
  max-width: 100%;
  max-height: 100%;
}
nav .logoAndName .nameContainer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-family: 'Special Elite', 'cursive';
  font-size: 4vw;
  text-shadow: 2px 2px black;
}
@media (max-width: 500px) {
  nav .logoAndName .nameContainer {
    width: 100%;
    font-size: 4.25vw;
  }
}
nav .links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
  font-family: "Segoe UI";
}
@media (max-width: 500px) {
  nav .links {
    width: 65%;
  }
}
nav .links .spanLogin {
  font-size: 1.5vw;
  color: white;
  text-decoration: none;
}
nav .links .spanLogin:hover {
  color: darkmagenta;
}
@media (max-width: 500px) {
  nav .links .spanLogin {
    font-size: 2.75vw;
  }
}
nav.bottomNav {
  padding-top: 4%;
  padding-bottom: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  color: white;
  text-align: center;
}
footer p {
  font-size: 1.2vw;
}
