nav {
    .flex-container(space-evenly, center);

    background-color: blueviolet;
    
    padding-left: 1rem;
    padding-right: 1rem;

    .logoContainer {
        // border: 3px red solid;
        max-width: 5rem;
        padding: .5rem;
        
    }

    .loginButton {
        padding: 10px;
        border: 2px black solid;
        border-radius: 5px;
        background: white;
    }
}

.heroContainer {
    // border: 3px solid red;
    // height: 20rem;
    // padding-top: 4%;
    img {
        // border: 3px solid pink;
        max-width:100%;
        max-height:100%;
    }
}

header {
    // border: 3px solid red;
    padding-top: 4%;
    padding-bottom: 4%;
    h2 {
        font-size: 2rem;
    }

    p {
        // border: 3px solid green;
        font-size: 1.5rem;
        padding: 0px;
    }

    hr {
        border-top: 0.2rem black solid;
    }
}

.content {
    padding-left: 4%;
    padding-right: 4%;

    article {
        .flex-container(center, center);

        div {
            min-width: 25%;
        }
    }

    #oddArticle {
        flex-direction: row-reverse;
    }
}

